<div class="container">
  <div class="wrapper__todo" *ngFor="let resp of response">
    <div class="todo-todos">
      <div *ngFor="let item of todos">
        <div *ngFor="let todo of item.todos; let i = index">
          <div *ngIf="resp.id == item.id" [routerLink]="'/beer/' + resp.id">
            <div *ngIf="todo.done == false; else todoDone">
              [{{item.id}}] {{ todo.info }}
            </div>
            <ng-template #todoDone>
              <div class="todoDone" > [{{item.id}}] {{ todo.info }}</div>
            </ng-template>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
